<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="main/css/main.css">
<script src="/socket.io/socket.io.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div class="main-container">
        <ul class="chat-container"></ul>
        <div class="chat-input-container">
            <input class="chat-input" type="text">
        </div>
    </div>
<script type="text/javascript" src="main/js/main.js"></script>
</body>
</html>
